[submodule "pure-data"]
	path = pure-data
	url = https://github.com/pure-data/pure-data.git
[submodule "pd.build"]
	path = pd.build
	url = https://github.com/pierreguillot/pd.build.git
[submodule "faust"]
	path = faust
	url = https://github.com/grame-cncm/faust.git
